body {
    background-color: rgb(89, 101, 112);
}

.box1 {
    display: flex;
    width: 100%;
    background-color: rgb(97, 97, 97);
    justify-content: start;
}

.links {
    color: white;
    text-decoration: none;
}

.options {
    float: left;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    transition: all 0.3s ease 0s;
}

.options:hover {
    background-color: rgb(147, 199, 199);
}